body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(244, 244, 245, 0.948);
    border: 1px solid black;
    border-radius: 8px;
}



/* Estilos para telas maiores */
/* @media (min-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    header {
        text-align: left;
    }

    .profile-img {
        width: 150px;
        height: 150px;
    }

    .menu {
        position: fixed;
        top: 20px;
        right: 20px;
    }

    .section {
        flex: 1;
        margin: 20px;
    }
} */


